@import "bootstrap/setup";

//////////////////////////////////////
//// CUSTOM CSS BELOW
//////////////////////////////////////

.rating {
	button.star-rating:not(.selected):not(.temp-selected) {
		@extend .opacity-2;
	}

	button.star-rating.selected, button.star-rating.temp-selected {
		@extend .text-yellow;
	}
}

.bg-center {
  background-size: cover;
  background-position: center;
}

.text-primary-dark {
	color: darken($primary-color, 8%);
}

.btn {
	@extend .rounded-pill;
}

.link-none {
	color: inherit;
	
	&:hover {
		opacity: 0.8;
		color: inherit;
	}
}

.link-secondary {
	color: $secondary-color !important;
	&:hover {
		color: $secondary-color !important;
		opacity: 0.8;
	}
	&:focus {
		color: $secondary-color !important;
		opacity: 1;
	}
}

.artist[selected] {
	p {
		font-size: 1.6rem;
	}
	img {
		width: 180px;
	}
	span {
		font-size: 1.4rem;
		width: 44px; 
		height: 44px; 
		bottom: 16px; 
		right: 16px;
	}
}

.artist:not([selected]) {
	width: 140px;
	img {
		width: 140px;
	}
	span {
		width: 28px; 
		height: 28px; 
		bottom: 16px; 
		right: 16px;
	}
	p {
		font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	}
}

.artist:hover img, .artist[selected] img {
	border: 8px solid white;
}

input[type=file]::file-selector-button {
  @extend .rounded;
}

.bg-white-transparent {
	background: rgba(255, 255, 255, 0.8);
}

.switch, .pause-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input, .pause-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.2);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.draggable {
	@extend .mx-auto;
    cursor: pointer; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.draggable:first-of-type {
	width: 90%;
	max-width: 900px;
	.first-only {
		display: block;
	}
	.event-box {
		background: rgba(255, 255, 255);
		border: 8px solid;
	}
}

.draggable:not(:first-of-type), .confirmed-request {
	width: 75%;
	max-width: 700px;
	h2 {
		font-size: 2.5rem;
	}
	.first-only {
		display: none;
	}
	.event-box {
		background: rgba(255, 255, 255, 0.8);
	}
}

[data-datepicker][fullwidth] .ui-datepicker {
    width: 100% !important;
}

.ui-datepicker {
	@extend .rounded, .p-3;
}

.ui-datepicker-header {
	@extend .rounded-pill;
}

.ui-datepicker-calendar td a, .ui-widget-header .ui-state-hover, .ui-widget.ui-widget-content {
  border: none !important;
}

.ui-datepicker-calendar td .ui-state-hover {
  background: $secondary-color;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	background: $primary-color !important;
	color: white;
}

.ui-datepicker-next-hover {
  right: 2px !important;
  top: 2px !important;
  background: inherit !important;
  border-radius: inherit;
}

.ui-datepicker-prev-hover {
  left: 2px !important;
  top: 2px !important;
  background: inherit !important;
  border-radius: inherit;
}

.ui-datepicker-next, .ui-datepicker-prev {
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    margin-top: -7px;
}