@import "bootstrap/setup";

//////////////////////////////////////
//// CUSTOM CSS BELOW
//////////////////////////////////////

.btn {
	@extend .rounded-pill;
}

.link-none {
	color: inherit;
	
	&:hover {
		opacity: 0.8;
		color: inherit;
	}
}

.link-secondary {
	color: $secondary-color !important;
	&:hover {
		color: $secondary-color !important;
		opacity: 0.8;
	}
	&:focus {
		color: $secondary-color !important;
		opacity: 1;
	}
}

.artist[selected] {
	p {
		font-size: 1.6rem;
	}
	img {
		width: 220px;
	}
	span {
		font-size: 1.4rem;
		width: 44px; 
		height: 44px; 
		bottom: 16px; 
		right: 16px;
	}
}

.artist:not([selected]) {
	width: 140px;
	img {
		width: 140px;
	}
	span {
		width: 28px; 
		height: 28px; 
		bottom: 16px; 
		right: 16px;
	}
	p {
		font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	}
}

.artist:hover img, .artist[selected] img {
	border: 8px solid white;
}

input[type=file]::file-selector-button {
  @extend .rounded;
}

.song-result:hover {
	background: rgba(0,0,0,0.1) !important;
}

.bg-white-transparent {
	background: rgba(255, 255, 255, 0.8);
}