button, .btn {outline: none!important};

*:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.btn {
    @extend .btn-wide;
    font-weight: $btn-font-weight;
}

.btn-raw {
    @extend .no-stroke, .fw-bold, .text-white;
    background: 0 0;
    border: none;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.btn-wide, .btn-lg {
    @extend .px-4;
}

.btn-float, .btn-float:focus {
    @extend .shadow-xl;
}

.btn-float:active {
    @extend .shadow-none;
}